.example1 {
	-webkit-filter: url(filters.svg#greyscale);
	filter: url(filters.svg#greyscale);
}

.example2 {
	-webkit-filter: url(subdir/filters.svg#greyscale);
	filter: url(subdir/filters.svg#greyscale);
}

.example3 {
	-webkit-filter: url(/chrome-relative-test/subdir/filters.svg#greyscale);
	filter: url(/chrome-relative-test/subdir/filters.svg#greyscale);
}

.example {
	width: 100px;
	height: 100px;
	background-color: #0000FF;
	margin: 1em;
}
